
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
    max-width: 450px;
    font-family: "Calibri";
}

.item {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}



.input {
    height: auto;
    min-height: 60px;
    height: 60px;
    outline: none;
    padding: 5px 30px;
    grid-column: 1/-1;
    
    justify-content: flex-end;
 
}

.upper {
    font-size: 20px;
    margin-left: 3px;
    margin-top: -20px;
}

.hide{
    width: 180px;
    height: 110px;
    background-color: white;
    position: absolute;
    margin-left: 700px;
    top: 0;
    display: none;
  }
  
  .show{
    display: block;
  }
  
  .modal{
    width: 100px;
    height: 30px;
    
    position: absolute;
    top: 9px;
    right: 70%;
    font-size: 20px;
    font-family: "Calibri";
    background-color: black;
    color: white;
  }
 

  

